/* reset CSS styles */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
p,
input,
button,
textarea {
  font-family: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* connection fonts */

@font-face {
  font-family: Himagsikan;
  src: url(src/fonts/himagsikan.otf);
}

@font-face {
  font-family: Graphik;
  src: url(src/fonts/GraphikMedium.otf);
}

/*---WRAPPER--------------------------------------------------------------------------*/

._container {
  max-width: 1440px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*---HEADER--------------------------------------------------------------------------*/

.header__container {
  max-height: 596px;
  background: -webkit-gradient(linear, left top, left bottom, from(#110620), to(#2b0c51));
  background: -o-linear-gradient(top, #110620 0%, #2b0c51 100%);
  background: linear-gradient(180deg, #110620 0%, #2b0c51 100%);
}

.header__block {
  max-width: 1296px;
  height: 80px;
  margin: 0 72px;
  background: -o-linear-gradient(359.82deg, rgba(66, 35, 103, 0.57) 0%, rgba(49, 24, 79, 0.57) 100%);
  background: linear-gradient(90.18deg, rgba(66, 35, 103, 0.57) 0%, rgba(49, 24, 79, 0.57) 100%);
  border-radius: 0px 0px 15px 15px;
  font-family: Graphik;
}

@media (max-width: 992px) {
  .header__block {
    margin: 0 45px;
  }
}

@media (max-width: 767px) {
  .header__block {
    margin: 0 30px;
  }
}

@media (max-width: 479px) {
  .header__block {
    margin: 0 15px;
  }
}