/* reset CSS styles */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
p,
input,
button,
textarea {
  font-family: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* connection fonts */

@font-face {
  font-family: "Himagsikan";
  src: url(../src/fonts/himagsikan.otf) format("otf");
}

@font-face {
  font-family: "Graphik-Semibold";
  src: url(../src/fonts/Graphik-Semibold.ttf) format("tff");
}

@font-face {
  font-family: "Graphik-Medium";
  src: url(../src/fonts/Graphik-Medium.ttf) format("ttf");
}

/*---WRAPPER--------------------------------------------------------------------------*/

._container {
  max-width: 1440px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#110620), to(#150429));
  background: -o-linear-gradient(top, #110620 0%, #150429 100%);
  background: linear-gradient(180deg, #110620 0%, #150429 100%);
}

/*---FREQUENTLY USED CLASSES---------------------------------------------------------*/

.text-main {
  font-family: "Poppins";
  font-style: normal;
}

.title {
  font-family: "Himagsikan";
  font-style: normal;
  font-weight: 400;
}

.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9e00), to(#ff6d00));
  background: -o-linear-gradient(top, #ff9e00 0%, #ff6d00 100%);
  background: linear-gradient(180deg, #ff9e00 0%, #ff6d00 100%);
  border-radius: 18px;
  padding: 15px 20px;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fea20f), to(#fe8a32));
  background: -o-linear-gradient(top, #fea20f 0%, #fe8a32 100%);
  background: linear-gradient(180deg, #fea20f 0%, #fe8a32 100%);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9e00), to(#ff6d00));
  background: -o-linear-gradient(top, #ff9e00 0%, #ff6d00 100%);
  background: linear-gradient(180deg, #ff9e00 0%, #ff6d00 100%);
}

/*---HEADER--------------------------------------------------------------------------*/

.header__container {
  max-height: 596px;
}

.header__block {
  max-width: 1296px;
  height: 80px;
  margin: 0 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(359.82deg, rgba(66, 35, 103, 0.57) 0%, rgba(49, 24, 79, 0.57) 100%);
  background: linear-gradient(90.18deg, rgba(66, 35, 103, 0.57) 0%, rgba(49, 24, 79, 0.57) 100%);
  border-radius: 0px 0px 15px 15px;
}

.header__logo {
  width: 42px;
  height: 42px;
  margin-left: 27px;
}

.header__searcher {
  width: 516px;
  height: 48px;
  margin-left: 33px;
  border: 1px solid #412366;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__input {
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
  width: 229px;
}

.header__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
}

.header__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
}

.header__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
}

.header__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
}

.header__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
}

.header__searcher-button {
  background-color: transparent;
  -webkit-transition: all 5ms ease-in-out;
  -o-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
}

.header__searcher-button-img {
  margin-left: 22px;
  margin-right: 13px;
}

.header__searcher-button-img:hover {
  background-image: url(/img/header/svg.svg);
}

.header__searcher-button-img:active {
  background-image: url(/img/header/search-icon.svg);
}

.header__searcher_adaptive {
  display: none;
}

.header__button {
  width: 163px;
  height: 48px;
  margin-left: 60px;
  margin-right: 10px;
}

.header__button-text {
  height: 48px;
  width: 163px;
  white-space: nowrap;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ff9e00;
  border-radius: 18px;
  background-color: transparent;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.header__button-text:hover {
  -webkit-box-shadow: rgba(212, 138, 19, 0.171) 0px 5px 15px;
          box-shadow: rgba(212, 138, 19, 0.171) 0px 5px 15px;
}

.header__button-text:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 15px;
}

.header__button-text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff9e00;
}

.header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 90px;
}

.container-right-side {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---BURGER MENU-------------------------------------------------------------------*/

.navbar {
  width: 100%;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.menu > li > a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navbar__wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__wrap .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 10px;
}

.navbar__wrap .menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 0.865);
}

.navbar__wrap .menu > li > a:active {
  color: rgba(255, 255, 255, 0.7);
}

/*---MAIN----------------------------------------------------------------------------*/

.main-block {
  position: relative;
}

.main-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 145px auto 600px;
  max-width: 990px;
  padding: 0 15px;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
  text-align: center;
}

.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 175px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

.button-text {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  white-space: nowrap;
}

.main-block__background-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1440px) {
  .main-block__title {
    margin-bottom: 600px;
  }
}

@media (max-width: 1180px) {
  .header__logo {
    margin-left: 17px;
  }

  .header__searcher {
    width: 460px;
    margin-left: 15px;
  }

  .header__button {
    margin-left: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 1080px) {
  .header__right-side {
    margin-left: 30px;
  }
}

@media (max-width: 1030px) {
  .header__button {
    margin-left: 0px;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  .header__block {
    margin: 0 45px;
  }

  .header__searcher {
    width: 450px;
    margin-left: 15px;
  }

  .header__button {
    margin-left: 20px;
    margin-right: 10px;
  }

  .header__right-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (max-width: 860px) {
  .main-block__background-img {
    top: 150px;
  }
}

@media (max-width: 833px) {
  .main-block__button {
    top: 240px;
  }
}

@media (max-width: 832px) {
  .main-block__title {
    margin-top: 100px;
    margin-bottom: 250px;
  }
}

@media (max-width: 767px) {
  .header__block {
    margin: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    margin-left: 15px;
  }

  .header__searcher {
    display: none;
  }

  .header__searcher_adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 306px;
    height: 30px;
    margin-top: 20px;
  }

  .header__input_adaptive {
    background-color: #ff9e00;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #110620;
    width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header__input_adaptive::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 40, 40, 0.51);
  }

  .header__input_adaptive::-moz-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 40, 40, 0.51);
  }

  .header__input_adaptive:-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 40, 40, 0.51);
  }

  .header__input_adaptive::-ms-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 40, 40, 0.51);
  }

  .header__input_adaptive::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 40, 40, 0.51);
  }

  .header__searcher-button_adaptive {
    background-color: #ff9e00;
    -webkit-transition: all 5ms ease-in-out;
    -o-transition: all 5ms ease-in-out;
    transition: all 5ms ease-in-out;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .header__searcher-button-img_adaptive {
    margin-left: 22px;
    margin-right: 13px;
  }

  .header__searcher-button-img_adaptive:hover {
    background-image: url(/img/header/svg1.svg);
  }

  .header__searcher-button-img_adaptive:active {
    background-image: url(/img/header/search-icon.svg);
  }

  .header__button {
    margin-left: 0px;
    margin-right: 10px;
  }

  .header__right-side {
    margin-left: 10px;
  }

  .main-block__background-img {
    top: 170px;
  }
}

@media (max-width: 661px) {
  .main-block__button {
    top: 310px;
  }

  .main-block__background-img {
    top: 270px;
  }
}

@media (max-width: 650px) {
  .main-block__title {
    margin-bottom: 180px;
  }

  .main-block__background-img {
    display: none;
  }
}

@media (max-width: 479px) {
  .header__block {
    margin: 0 15px;
  }

  .main-block__title {
    font-size: 44px;
    padding: 0 8px;
    line-height: 50px;
  }
}

@media (max-width: 400px) {
  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
  }

  .main-block__title {
    font-size: 32px;
    padding: 0 8px;
  }

  .button-text {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 340px) {
  .header__logo {
    margin-left: 5px;
  }
}

@media (max-width: 320px) {
  .header__right-side {
    margin-left: 0px;
  }
}