/* reset CSS styles */
@import "nullstyle.scss";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/* connection fonts */
@import "fonts.scss";

/*---WRAPPER--------------------------------------------------------------------------*/
._container {
  max-width: 1440px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*---HEADER--------------------------------------------------------------------------*/
.header__container {
  max-height: 596px;
  background: linear-gradient(180deg, #110620 0%, #2b0c51 100%);
}
.header__block {
  max-width: 1296px;
  height: 80px;
  margin: 0 72px;
  background: linear-gradient(
    90.18deg,
    rgba(66, 35, 103, 0.57) 0%,
    rgba(49, 24, 79, 0.57) 100%
  );
  border-radius: 0px 0px 15px 15px;
  font-family: Graphik-Semibold;
}
@media (max-width: 992px) {
  .header__block {
    margin: 0 45px;
  }
}
@media (max-width: 767px) {
  .header__block {
    margin: 0 30px;
  }
}
@media (max-width: 479px) {
  .header__block {
    margin: 0 15px;
  }
}
.header__logo {
  width: 42px;
  height: 42px;
  margin-top: 15px;
  margin-left: 27px;
}
.header__searcher {
  width: 516px;
  height: 48px;
  border: 1px solid #412366;
  border-radius: 16px;
}
