/* reset CSS styles */
@import "nullstyle.scss";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/* connection fonts */
@import "fonts.scss";

/*---WRAPPER--------------------------------------------------------------------------*/
._container {
  max-width: 1440px;
  margin: 0px auto;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrap {
  background: linear-gradient(180deg, #110620 0%, #150429 100%);
}

/*---FREQUENTLY USED CLASSES---------------------------------------------------------*/
.text-main {
  font-family: "Poppins";
  font-style: normal;
}
.title {
  font-family: "Himagsikan";
  font-style: normal;
  font-weight: 400;
}
.button {
  background: linear-gradient(180deg, #ff9e00 0%, #ff6d00 100%);
  border-radius: 18px;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
}
.button:hover {
  background: linear-gradient(180deg, #fea20f 0%, #fe8a32 100%);
}
.button:active {
  background: linear-gradient(180deg, #ff9e00 0%, #ff6d00 100%);
}
/*---HEADER--------------------------------------------------------------------------*/
.header__container {
  max-height: 596px;
}
.header__block {
  max-width: 1296px;
  height: 80px;
  margin: 0 72px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90.18deg,
    rgba(66, 35, 103, 0.569) 0%,
    rgba(49, 24, 79, 0.57) 100%
  );
  border-radius: 0px 0px 15px 15px;
}
@media (max-width: 992px) {
  .header__block {
    margin: 0 45px;
  }
}
@media (max-width: 767px) {
  .header__block {
    margin: 0 30px;
    justify-content: space-between;
  }
}
@media (max-width: 479px) {
  .header__block {
    margin: 0 15px;
  }
}
.header__logo {
  width: 42px;
  height: 42px;
  margin-left: 27px;
}
@media (max-width: 1180px) {
  .header__logo {
    margin-left: 17px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin-left: 15px;
  }
}
@media (max-width: 340px) {
  .header__logo {
    margin-left: 5px;
  }
}
.header__searcher {
  width: 516px;
  height: 48px;
  margin-left: 33px;
  border: 1px solid #412366;
  border-radius: 16px;
  align-items: center;
  display: flex;
}
@media (max-width: 1180px) {
  .header__searcher {
    width: 460px;
    margin-left: 15px;
  }
}
@media (max-width: 992px) {
  .header__searcher {
    width: 450px;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  .header__searcher {
    display: none;
  }
}
.header__input {
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
  width: 229px;
}
.header__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.51);
}
.header__searcher-button {
  background-color: transparent;
  transition: all 5ms ease-in-out;
}
.header__searcher-button-img {
  margin-left: 22px;
  margin-right: 13px;
}
.header__searcher-button-img:hover {
  background-image: url(/img/header/svg.svg);
}
.header__searcher-button-img:active {
  background-image: url(/img/header/search-icon.svg);
}
.header__searcher_adaptive {
  display: none;
}
@media (max-width: 767px) {
  .header__searcher_adaptive {
    display: flex;
    width: 306px;
    height: 30px;
    margin-top: 20px;
  }
  .header__input_adaptive {
    background-color: #ff9e00;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #110620;
    width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .header__input_adaptive::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 40, 40, 0.51);
  }
  .header__searcher-button_adaptive {
    background-color: #ff9e00;
    transition: all 5ms ease-in-out;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .header__searcher-button-img_adaptive {
    margin-left: 22px;
    margin-right: 13px;
  }
  .header__searcher-button-img_adaptive:hover {
    background-image: url(/img/header/svg1.svg);
  }
  .header__searcher-button-img_adaptive:active {
    background-image: url(/img/header/search-icon.svg);
  }
}
.header__button {
  width: 163px;
  height: 48px;
  margin-left: 60px;
  margin-right: 10px;
}
@media (max-width: 1180px) {
  .header__button {
    margin-left: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 1030px) {
  .header__button {
    margin-left: 0px;
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .header__button {
    margin-left: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .header__button {
    margin-left: 0px;
    margin-right: 10px;
  }
}
@media (max-width: 300px) {
  .header__button {
    width: 153px;
    height: 45px;
  }
}
.header__button-text {
  height: 48px;
  width: 163px;
  white-space: nowrap;
  background-color: transparent;
  align-items: center;
  border: 1px solid #ff9e00;
  border-radius: 18px;
  background-color: transparent;
  transition: all 100ms ease-in-out;
}
.header__button-text:hover {
  box-shadow: rgba(212, 138, 19, 0.171) 0px 5px 15px;
}
.header__button-text:active {
  box-shadow: rgba(0, 0, 0, 0.247) 0px 5px 15px;
}
.header__button-text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff9e00;
}
@media (max-width: 300px) {
  .header__button-text {
    width: 143px;
    height: 45px;
  }
}
.header__right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 90px;
}
@media (max-width: 1080px) {
  .header__right-side {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .header__right-side {
    flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .header__right-side {
    margin-left: 10px;
  }
}
@media (max-width: 320px) {
  .header__right-side {
    margin-left: 0px;
  }
}
.container-right-side {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
}
/*---BURGER MENU-------------------------------------------------------------------*/
.navbar {
  width: 100%;
}
.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.hamb {
  display: none;
}
.popup {
  display: none;
}
.menu > li > a {
  text-decoration: none;
}
ul {
  padding-inline-start: 0;
}
.navbar__wrap .menu {
  display: flex;
  justify-content: space-between;
}
.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
  padding: 0 10px;
}
.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 200ms ease-in-out;
}
.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 0.865);
}
.navbar__wrap .menu > li > a:active {
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 43%,
      rgba(91, 31, 177, 0.5331176415878851) 100%
    );
    opacity: 0.999;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}
@media (max-width: 400px) {
  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
  }
}
/*---MAIN----------------------------------------------------------------------------*/
.main-block {
  position: relative;
}
.main-block__title {
  display: flex;
  margin: 145px auto 600px;
  max-width: 990px;
  padding: 0 15px;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 1440px) {
  .main-block__title {
    margin-bottom: 600px;
  }
}
@media (max-width: 832px) {
  .main-block__title {
    margin-top: 100px;
    margin-bottom: 250px;
  }
}
@media (max-width: 650px) {
  .main-block__title {
    margin-bottom: 180px;
  }
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 44px;
    padding: 0 8px;
    line-height: 50px;
  }
}
@media (max-width: 400px) {
  .main-block__title {
    font-size: 32px;
    padding: 0 8px;
  }
}
.main-block__button {
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
@media (max-width: 833px) {
  .main-block__button {
    top: 240px;
  }
}
@media (max-width: 661px) {
  .main-block__button {
    top: 310px;
  }
}
@media (max-width: 479px) {
  .main-block__button {
    top: 270px;
  }
}
@media (max-width: 401px) {
  .main-block__button {
    top: 250px;
  }
}
.button-text {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 400px) {
  .button-text {
    font-size: 12px;
    line-height: 14px;
  }
}
.main-block__background-img {
  display: flex;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 3;
  object-fit: cover;
}
@media (max-width: 860px) {
  .main-block__background-img {
    top: 150px;
  }
}
@media (max-width: 767px) {
  .main-block__background-img {
    top: 170px;
  }
}
@media (max-width: 661px) {
  .main-block__background-img {
    top: 270px;
  }
}
@media (max-width: 650px) {
  .main-block__background-img {
    display: none;
  }
}
/*---MAIN BLOCK-SLIDER NFT------------------------------------------------------------*/
.block-slider-nft {
  position: relative;
}
.background-circle-1 {
  position: absolute;
  z-index: 1;
  left: -106px;
  top: 80px;
  width: 610px;
  height: 610px;
  opacity: 0.5;
}
.background-circle-2 {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0;
  width: 401px;
  height: 401px;
}
.block-slider-nft__title {
  max-width: 500px;
  padding: 0 10px;
  font-size: 40px;
  line-height: 150%;
  display: flex;
  margin: 900px auto 45px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1350px) {
  .block-slider-nft__title {
    margin-top: 800px;
  }
}
@media (max-width: 1200px) {
  .block-slider-nft__title {
    margin-top: 700px;
  }
}
@media (max-width: 1000px) {
  .block-slider-nft__title {
    margin-top: 520px;
  }
}
@media (max-width: 800px) {
  .block-slider-nft__title {
    margin-top: 500px;
  }
}
@media (max-width: 650px) {
  .block-slider-nft__title {
    margin-top: 300px;
  }
}
@media (max-width: 479px) {
  .block-slider-nft__title {
    font-size: 38px;
  }
}
@media (max-width: 400px) {
  .block-slider-nft__title {
    font-size: 32px;
  }
}
/*---BLOCK-SLIDER-NFT SWIPER SLIDER---------------------------------------------------*/
.swiper {
  max-width: 1200px;
  height: 420px;
  display: flex;
  margin: 0 auto;
  padding: 0 40px;
}
.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 260px;
  margin: 78px auto;
  background-color: transparent;
}
.slide-container {
  position: relative;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  margin-left: -10px;
  margin-right: -10px;
}
.swiper-slide-next {
  height: 373px;
  width: 346px;
  margin: 0 0;
  background-image: url(/img/main/slider/slide_active_background.svg);
  background-size: 346px 373px;
  background-repeat: no-repeat;
}
.swiper-slide.swiper-slide-next .img-small-slide {
  visibility: hidden;
}
.img-small-slide {
  height: 260px;
  width: 241px;
  position: absolute;
  top: 0;
}
@media (max-width: 1188px) {
  .swiper {
    padding: 0 20px;
  }
}
.swiper-slide.swiper-slide-next .img-nft-1 {
  height: 290px;
  width: 210px;
  margin-top: -55px;
  margin-left: 5px;
  position: relative;
  top: 0;
  left: 0;
}
.swiper-slide .img-nft-1 {
  height: 190px;
  width: 145px;
  margin-left: 9px;
  margin-top: -37px;
}
.slide-block-nft {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 16px;
}
.slide-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  margin-top: 15px;
  line-height: 36px;
  color: #ffffff;
}
.slide-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.slide-price {
  display: flex;
  justify-content: center;
}
.slide-price-btc {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  color: #ffffff;
  margin-right: 10px;
}
.slide-price-number {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.swiper-slide.swiper-slide-next .slide-block-nft {
  top: 42px;
  left: 20px;
}
.swiper-slide.swiper-slide-next .slide-price {
  margin-top: 40px;
}
.swiper-slide.swiper-slide-next .slide-title {
  font-weight: 700;
  font-size: 24px;
}
.swiper-slide.swiper-slide-next .slide-price-btc {
  font-size: 20px;
}
.swiper-slide.swiper-slide-next .slide-price-number {
  font-size: 16px;
}
@media (max-width: 1150px) {
  .swiper-slide-next {
    background-image: none;
  }
  .swiper-slide.swiper-slide-next .img-small-slide {
    visibility: visible;
    position: absolute;
    top: 80px;
  }
  .swiper-slide.swiper-slide-next .slide-block-nft {
    top: 55px;
    left: 16px;
  }
  .swiper-slide.swiper-slide-next .slide-price {
    margin-top: 0px;
  }
  .swiper-slide.swiper-slide-next .slide-title {
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
    line-height: 36px;
  }
  .swiper-slide.swiper-slide-next .slide-price-btc {
    font-size: 14px;
  }
  .swiper-slide.swiper-slide-next .slide-price-number {
    font-size: 14px;
  }
  .swiper-slide.swiper-slide-next .img-nft-1 {
    height: 190px;
    width: 145px;
    margin-left: 9px;
    margin-top: 10px;
  }
}
/*---BLOCK-SLIDER-NFT BUTTON ---------------------------------------------------------*/
.block-slider-nft__button {
  display: flex;
  margin: 0 auto;
}
/*---BLOCK-TRAVEL-WITH US ------------------------------------------------------------*/
.block-travel-with-us {
  position: relative;
  display: flex;
}
.background-circle-3 {
  position: absolute;
  z-index: 3;
  left: 800px;
  top: 0px;
  width: 550px;
  height: 550px;
  opacity: 0.7;
}
.background-circle-4 {
  position: absolute;
  z-index: 0;
  left: 850px;
  top: 650px;
  width: 500px;
  height: 500px;
  opacity: 0.7;
}
.block-travel-with-us__background-img {
  max-width: 672px;
  height: 835px;
  position: absolute;
  top: 125px;
  left: 0;
  z-index: 3;
}
.block-travel-with-us__container {
  max-width: 471px;
  padding-right: 40px;
  padding-top: 315px;
  margin-left: 834px;
  margin-bottom: 300px;
  z-index: 3;
}
.block-travel-with-us__title {
  max-width: 431px;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 12px;
}
.block-travel-with-us__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1250px) {
  .block-travel-with-us__background-img {
    max-width: 630px;
    height: 781px;
  }
  .block-travel-with-us__container {
    margin-left: 750px;
  }
}
@media (max-width: 1100px) {
  .block-travel-with-us__background-img {
    max-width: 500px;
    height: 620px;
  }
  .block-travel-with-us__container {
    margin-left: 550px;
    padding-top: 230px;
  }
}
@media (max-width: 950px) {
  .block-travel-with-us__background-img {
    max-width: 400px;
    height: 496px;
  }
  .block-travel-with-us__container {
    margin-left: 450px;
    padding-top: 200px;
  }
  .block-travel-with-us__title,
  .block-our-creators__title h2 {
    font-size: 36px;
    line-height: 150%;
  }
  .block-travel-with-us__text,
  .block-our-creators__text {
    font-size: 18px;
    line-height: 150%;
  }
}
@media (max-width: 850px) {
  .block-travel-with-us__background-img {
    max-width: 300px;
    height: 372px;
  }
  .block-travel-with-us__container {
    margin-left: 350px;
    padding-top: 130px;
  }
  .block-travel-with-us__title,
  .block-our-creators__title h2 {
    font-size: 32px;
  }
  .block-travel-with-us__text,
  .block-our-creators__text {
    font-size: 16px;
  }
}
@media (max-width: 680px) {
  .block-travel-with-us__background-img {
    max-width: 280px;
    height: 347px;
  }
  .block-travel-with-us__container {
    margin-left: 300px;
    padding-top: 110px;
  }
  .block-travel-with-us__title {
    font-size: 32px;
  }
  .block-travel-with-us__text,
  .block-our-creators__text {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .block-travel-with-us__background-img {
    display: none;
  }
  .block-travel-with-us__container {
    margin: 0 auto 200px;
    padding: 170px 20px 0px;
  }
  .block-travel-with-us__title {
    font-size: 32px;
    text-align: center;
    margin: 0 auto 12px;
  }
  .block-travel-with-us__text {
    text-align: center;
    margin: 0 auto;
  }
  .block-travel-with-us__more-info {
    margin: 0 auto;
  }
}
@media (max-width: 440px) {
  .block-travel-with-us__container {
    margin: 0 auto 200px;
    padding: 170px 10px 0px;
  }
  .block-travel-with-us__more-info {
    display: block;
    max-width: 181px;
  }
  .instagram-icon {
    margin: 0 auto;
    display: flex;
  }
  .facebook-icon {
    margin: 0 auto;
    display: flex;
  }
  .block-travel-with-us__button {
    margin-bottom: 20px;
  }
  .social-buttons {
    display: flex;
    justify-content: space-around;
  }
  .instagram-button,
  .facebook-button {
    margin-top: 5px;
  }
}
.block-travel-with-us__more-info {
  max-width: 321px;
  display: flex;
  justify-content: space-around;
}
.block-travel-with-us__button {
  padding: 10px 20px;
  margin-top: 48px;
  line-height: 35px;
  width: 181px;
}
.social-buttons {
  display: contents;
  justify-content: space-between;
}
.instagram-button,
.facebook-button {
  width: 48px;
  height: 48px;
  margin-top: 51px;
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}
.instagram-button {
  background-image: url(/img/main/instagram-icon.svg);
}
.facebook-button {
  background-image: url(/img/main/facebook-icon.svg);
}
.instagram-button div {
  width: 48px;
  height: 48px;
}
.facebook-button div {
  width: 48px;
  height: 48px;
}
.discord-icon {
  margin-top: 5px;
  margin-left: 9px;
}
.instagram-button:hover {
  background-image: url(/img/main/instagram-icon-hover.svg);
}
.facebook-button:hover {
  background-image: url(/img/main/facebook-icon-hover.svg);
}
.instagram-button:active {
  background-image: url(/img/main/instagram-icon.svg);
}
.facebook-button:active {
  background-image: url(/img/main/facebook-icon.svg);
}
/*---BLOCK-OUR-CREATORS----------------------------------------------------------------*/
.block-our-creators {
  padding: 0 10px;
}
.block-our-creators__title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  max-width: 376px;
  margin: 0 auto 14px;
  color: #ffffff;
  text-align: center;
  align-items: center;
}
.block-our-creators__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  margin: 0 auto 45px;
  max-width: 458px;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: luminosity;
}
.block-our-creators__creators-photo {
  height: 590px;
  width: 100%;
  margin-bottom: 105px;
}
/*---BLOCK-OUR-CREATORS-SWIPER SLIDER2------------------------------------------------*/
.block-our-creators__creators-photo .swiper-slide {
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: 160px auto 0;
}
.swiper2 {
  max-width: 1440px;
  height: 590px;
}
.block-our-creators__creators-photo .swiper-slide > img {
  width: 100%;
  max-height: 590px;
  object-fit: cover;
  object-position: center;
}
.block-our-creators__creators-photo .swiper-slide.swiper-slide-next {
  background-image: none;
  display: none;
}
.small-screen {
  visibility: hidden;
}
.large-screen {
  visibility: visible;
}
@media (max-width: 1010px) {
  .block-our-creators__creators-photo .swiper-slide {
    margin: 90px auto 0;
  }
  .block-our-creators__creators-photo {
    margin-bottom: 0px;
  }
  .block-our-creators__creators-photo {
    max-height: 450px;
  }
}
@media (max-width: 850px) {
  .block-our-creators__creators-photo .swiper-slide {
    margin: 50px auto 0;
  }
  .block-our-creators__creators-photo {
    max-height: 450px;
  }
}
@media (max-width: 767px) {
  .large-screen {
    visibility: hidden;
  }
  .small-screen {
    visibility: visible;
  }
  .swiper2 {
    max-width: 699px;
    height: 400px;
  }
  .block-our-creators__creators-photo .swiper-slide {
    margin: 150px auto 0;
  }
  .block-our-creators__creators-photo .swiper-slide > img {
    width: 100%;
    max-height: 699px;
  }
  .block-our-creators__creators-photo {
    max-height: 590px;
  }
}
@media (max-width: 479px) {
  .block-our-creators__creators-photo .swiper-slide {
    margin: 60px auto 0;
  }
  .block-our-creators__creators-photo {
    max-height: 450px;
  }
}
@media (max-width: 394px) {
  .block-our-creators__creators-photo {
    max-height: 390px;
  }
}
@media (max-width: 340px) {
  .block-our-creators__creators-photo .swiper-slide {
    margin: 0 auto 0;
  }
}
